@model MyEveryNote.Entity.Category

@{
    ViewBag.Title = "Delete";
}

<h2 style="margin-left:400px;margin-right:400px; margin-top:20px">Delete</h2>

<h3 style="margin-left:400px;margin-right:400px; margin-top:20px">Are you sure you want to delete this?</h3>

<div class="form-horizontal" style="margin-left:400px;margin-right:400px;">
    <hr />
    <div class="form-group">

        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <br />
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Title)
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
        <br />
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Description)
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(model => model.CreationOn, htmlAttributes: new { @class = "control-label col-md-2" })
        <br />
        <div class="col-md-10">
            @Html.DisplayFor(model => model.CreationOn)
        </div>
    </div>

    <div class="form-group">

        @Html.LabelFor(model => model.ModifiedOn, htmlAttributes: new { @class = "control-label col-md-2" })
        <br />
        <div class="col-md-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </div>


    </div>

    <div class="form-group">

        @Html.LabelFor(model => model.ModifiedUsername, htmlAttributes: new { @class = "control-label col-md-2" })
        <br />
        <div class="col-md-10">
            @Html.DisplayFor(model => model.ModifiedUsername)
        </div>


    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">

        @DefaultBootstrap.Button("danger",string.Empty,"send", "bi bi-trash","Delete")
        @DefaultBootstrap.LinkButton("/Category/Index", "link", string.Empty, "Back to List", "bi bi-arrow-left-circle", "Back to List")

    </div>
    }
</div>
